@{
    ViewData["Title"] = "Письмо отправлено";
    Layout = "/Views/Shared/_PureLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p>
    На Ваш имейл адрес было отправлено письмо с дальнейшими инструкциями по восстановлению пароля
</p>
