@{
    ViewData["Title"] = "Подтверждение восстановления пароля";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ваш пароль был изменен. Пожалуйста <a asp-action="Login">перейдите на страницу входа в систему</a>.
</p>
