@using KapitalBerdsk.Web.Classes.Models
@using KapitalBerdsk.Web.Classes.Options
@inject SignInManager<ApplicationUser> SignInManager
@inject Microsoft.Extensions.Options.IOptions<YandexMetrikaOptions> YandexMetrikaOptions
@inject Microsoft.Extensions.Options.IOptions<GeneralOptions> GeneralOptions

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" />

    @if (!string.IsNullOrWhiteSpace(YandexMetrikaOptions.Value.Code))
    {
        @Html.Raw(YandexMetrikaOptions.Value.Code)
    }

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><i class="glyphicon glyphicon-home"></i></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a asp-area="" asp-controller="BuildingObject" asp-action="Index">Объекты</a></li>
                        <li><a asp-area="" asp-controller="Employee" asp-action="Index">Сотрудники</a></li>
                        <li><a asp-area="" asp-controller="Organization" asp-action="Index">Организации</a></li>
                        <li><a asp-area="" asp-controller="FundsFlow" asp-action="Index">Движение средств</a></li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    @if (GeneralOptions.Value.ShowLogo)
    {
        <div class="b-inpage-logo">
            <img src="~/images/logo-380.jpg?1" alt="Логотип" class="b-inpage-logo__imb"/>
        </div>
    }
    <div class="container body-content">
        @if (SignInManager.IsSignedIn(User))
        {
            @await Component.InvokeAsync(nameof(NotificationArea))
        }
        @RenderBody()
        <hr />
        <footer></footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.ru.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.ru.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            // Make jQuery :contains Case-Insensitive
            $.expr[':'].contains = function (a, i, m) {
                return $(a).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
            };
        });

        $(document).ready(function () {
            $('[data-bdatepicker]').datepicker({
                language: "ru",
                autoclose: true
            });
            $('[data-toggle="tooltip"]').tooltip();
        });

        $(document).ready(function () {
            $('.b-emp-selection .b-emp-selection__one-time-cbx').click(function () {
                var isChecked = $(this).is(':checked');
                console.log(isChecked);
                var $block = $(this).closest('.b-emp-selection');

                'b-emp-selection__emp-input'
                if (isChecked) {
                    $block.find('.b-emp-selection__emp-input').addClass('hidden');
                    $block.find('.b-emp-selection__one-time-emp-input').removeClass('hidden');
                } else {
                    $block.find('.b-emp-selection__emp-input').removeClass('hidden');
                    $block.find('.b-emp-selection__one-time-emp-input').addClass('hidden');
                }
            });
        });

        $(document).ready(function () {
            var currentFilters = {};
            $("[data-filter]").on('change input', function () {
                var filter = $(this).attr('data-filter');
                var filterValue = $(this).is('input')
                    ? $(this).val()
                    : $(this).parent().find("option:selected").text();

                console.log(filterValue);

                if (filterValue === '') {
                    removeFilter(filter);
                } else {
                    applyFilter(filter, filterValue);
                }

                if ($.isEmptyObject(currentFilters)) {
                    $('#btn-reset-filter').hide();
                } else {
                    $('#btn-reset-filter').show();
                }

                $(document).trigger('appEvent-dataFilterChange', [currentFilters]);
            });

            $('#btn-reset-filter').click(function () {
                $('.filtarable-table')[0].reset();
                removeAllFilters();
                $('#btn-reset-filter').hide();
            });

            function removeFilter(filter) {
                delete currentFilters[filter];
                applyCurrentFilters();
            }

            function removeAllFilters() {
                currentFilters = {};
                applyCurrentFilters();
            }

            function applyCurrentFilters() {
                $('.filtarable-table tbody tr').each(function () {
                    $(this).show();
                });

                for (var filter in currentFilters) {
                    if (currentFilters.hasOwnProperty(filter)) {
                        var filterValue = currentFilters[filter];
                        $('.filtarable-table tbody tr').each(function () {
                            var $row = $(this);
                            var $col = $row.find('[data-col="' + filter + '"]');
                            if (!$col.is(':contains("' + filterValue + '")')) {
                                $row.hide();
                            }
                        });
                    }
                }
            }

            function applyFilter(filter, filterValue) {
                currentFilters[filter] = filterValue;
                applyCurrentFilters();
            }
        });

        $(document).ready(function () {
            $(".b-orderable-table tbody").sortable({
                handle: "[data-portletHandler]",
                stop: function (event, ui) {
                    updateOrder();
                }
            }).disableSelection();

            $(document).on('appEvent-dataFilterChange', function (event, filters) {
                if ($.isEmptyObject(filters)) {
                    $(".b-orderable-table [data-portletHandler]").show();
                } else {
                    $(".b-orderable-table [data-portletHandler]").hide();
                }
            });

            function updateOrder() {
                var items = $.map($('.b-orderable-table [data-itemId]').toArray(),
                    function (item) {
                        return parseInt($(item).attr('data-itemId'));
                    });

                var endpointUrl = $('.b-orderable-table').attr('data-updateOrderEndpoint');

                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    type: 'POST',
                    url: endpointUrl,
                    data: JSON.stringify({ ids: items })
                });
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
