@model KapitalBerdsk.Web.Models.BusinessObjectModels.EditFundsFlowModel

@{
    ViewData["Title"] = "Добавление движухи";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.Partial("EditFieldsPartial")
        </form>
    </div>
</div>
