@using KapitalBerdsk.Web.Classes.Models.BusinessObjectModels
@model KapitalBerdsk.Web.Classes.Models.BusinessObjectModels.EditPdSectionModel

@{
    ViewData["Title"] = "Редактирование раздела";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Id" />
            @Html.Partial("EditFieldsPartial")
        </form>
    </div>
</div>


