@using KapitalBerdsk.Web.Classes.Models.BusinessObjectModels
@model KapitalBerdsk.Web.Classes.Models.BusinessObjectModels.BuildingObjectModel

@{
    ViewData["Title"] = "Добавление объекта";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.Partial("EditFieldsPartial")
        </form>
    </div>
</div>
